.Container{
  border:2px solid black;
  border-radius:10px;
  width:50%;
  height:50%;
  min-width:400px;
  min-height:400px;
  margin:50px 50px;
  text-align:center;
  background-color:orange;
}
.list{
  margin:5px 2px;
  text-align:left;
  color:white;
  font-text:20px;
  list-style-type:none;
}
.h{
  margin:5px 2px;
  color:blue;
  text-transform:uppercase;
}
.Input{
  border-radius:10px;
  background-color:lightblue;
  width:250px;
  text-align:center;
}
.Button {
  float:right;
  margin-right:10px;
}
.add{
  float:right;
  margin-right:10px;
}
